global
    log /dev/log local0
    log /dev/log local1 notice
    daemon
    user haproxy
    group haproxy

defaults
    log global
    mode tcp
    option tcplog
    timeout connect 10s
    timeout client 1m
    timeout server 1m

frontend public_https
    bind {{ public_ingress_bind_address }}:443
    default_backend envoy_https

backend envoy_https
    server envoy_local {{ public_ingress_backend_host }}:{{ public_ingress_https_nodeport }} check
